<!DOCTYPE html>
<html>
    <head lang="en">
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link rel="stylesheet" href="{{ site.url }}/build/app.css">

        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>

    <div id="app">
        <div class="navbar is-primary">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ site.url }}/">
                        <img src="{{ site.url }}/build/images/zblog.svg" height="28">
                    </a>

                    <a class="navbar-burger" id="navbarMenuButton">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbarMenu">
                    <div class="navbar-start is-size-4">
                        <a href="{{ site.url }}/tags" class="navbar-item">Tags</a>
                        <a href="{{ site.url }}/about" class="navbar-item">About</a>
                        <a href="{{ site.url }}/atom.xml" class="navbar-item">Feed</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        {% block content_wrapper %}
                            {% block content %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="level">
                <div class="level-item">
                    <a href="https://bulma.io">
                        <img
                            src="{{ site.url }}/build/images/made-with-bulma.png"
                            alt="Made with Bulma"
                            width="128"
                            height="24">
                    </a>
                    <a href="https://sculpin.io" class="mx-3">
                        <div class="width: 128px; height: 24px;">
                        <img
                            src="{{ site.url }}/build/images/sculpin-mascot-jackson-micro.png"
                            alt="Made with Sculpin"
                            width="100%"
                            height="100%">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Script to enable responsive navbar hamburger menu -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const btn = document.querySelector('#navbarMenuButton');
            btn.addEventListener('click', () => {
                btn.classList.toggle('is-active');
                const menu = document.querySelector('#navbarMenu');
                menu.classList.toggle('is-active');
            });
        });
    </script>

    {% block scripts %}
    <script src="{{ site.url }}/build/app.js"></script>
    {% endblock %}

    {% if site.google_analytics_tracking_id %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}

    {% block scripts_after %}
    {% endblock %}

    </body>
</html>
