{% extends 'layouts/default.njk' %}

{% block content %}
<div class="level">
    <div class="level-item">
        <span class="is-size-4 has-text-weight-bold">{{date|date('MMMM D, Y')}}</span>
    </div>
</div>
<div class="level">
    <div class="level-item">
        {% for tag in tags %}
        {% if tag != 'blog' %}
        <a class="tag is-size-6 mr-1" href="{{ site.base_url }}/tags/{{ tag }}">{{ tag }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
<h1 class="title is-size-1">{{ title }}</h1>
<div class="content">
    {{ content | safe }}
</div>
{% endblock %}