<!DOCTYPE html>
<html>
    <head lang="en">
        <title>ZBlog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bulma.min.css">
        
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QTBXRBYM8J"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-QTBXRBYM8J');
        </script>
        
    </head>
    <body>

    <div id="app">
        <div class="navbar is-primary">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="/images/zblog.svg" height="28">
                    </a>

                    <a class="navbar-burger" id="navbarMenuButton">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navbarMenu">
                    <div class="navbar-end is-size-4">
                        <a href="/" class="navbar-item">Home</a>
                        <a href="/archive" class="navbar-item">Blog</a>
                        <a href="/tags" class="navbar-item">Tags</a>
                        <a href="/about" class="navbar-item">About Me</a>
                        <a href="/feed.xml" class="navbar-item">RSS</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        
<div class="level">
    <div class="level-item">
        <span class="is-size-4 has-text-weight-bold">April 21, 2022</span>
    </div>
</div>
<div class="level">
    <div class="level-item">
        
        
        
        
        <a class="tag is-size-6 mr-1" href="/tags/php">php</a>
        
        
        
        <a class="tag is-size-6 mr-1" href="/tags/vuejs">vuejs</a>
        
        
        
        <a class="tag is-size-6 mr-1" href="/tags/rest-api">rest-api</a>
        
        
    </div>
</div>
<h1 class="title is-size-1">Create Simple REST API with PHP and VueJS</h1>
<div class="content">
    <p>One of the nice thing about <code>PHP</code> is that it is very easy to create web applications, including REST API services. Here I will provide a very simple structure that can give you a REST API backend service and use VueJS to create a Client to test it.</p>
<p>We will use plain <code>PHP</code> and simple VueJS UI without any additional frameworks. There is literally nothing to setup for project wise, other than just a folder and couple of source files:</p>
<pre><code class="language-bash">mkdir -p my-rest-api/api
touch my-rest-api/api/index.php
touch my-rest-api/index.html
php -S localhost:3000
open http://localhost:3000/
</code></pre>
<p>The reason I use a folder for <code>api/index.php</code> is so that we get a nice URL that can ends with nice path (eg: <code>http://localhost:3000/api/</code>). Just for demo purpose, I made the API service returns a simple result from a <code>preg_match()</code> function. I also added RESTful <code>OPTIONS</code> support, and allow <code>CORS</code> from any host, so it's easy for testing from any client connections.</p>
<p>I use <code>index.html</code> on the client UI side, which is the default page of the host. I use simple VueJS Option API to create a form and <code>fetch()</code> to interact with the API. This demonstrates how easy it is to sprinkle some JS logic into your web page. And finally, I added BulmaCSS to lights up the form and makes it pretty.</p>
<p>This simple, bare to the bone <code>PHP</code> setup let you create a quick API that is good for mock test or explore any backend features quickly. To help you try it out, I've created a <a href="https://github.com/zemian/my-rest-api">Git repository template</a> that you can quickly give it a go. Also, for completeness sake, I will repaste couple of the file contents here:</p>
<p>File: <code>api/index.php</code></p>
<pre><code>&lt;?php
/*
 * A simple REST API that will match a Regular Expression to an Input Text and return the result.
 *
 * Author: Zemian Deng &lt;zemiandeng@gmail.com&gt;
 * Date: April 21, 2022
 */

function match_regex($regex, $input) {
    $matches = [];
    preg_match($regex, $input, $matches);
    return $matches;
}

// Allow any service to make pre-flight requests to this REST API
$allow_methods = &quot;OPTIONS, GET, POST&quot;;
header('Content-Type: application/json; charset=utf-8');
header('Access-Control-Allow-Credentials: true');
header('Access-Control-Allow-Headers: *');
header('Access-Control-Allow-Origin: *');
header('Access-Control-Allow-Methods: ' . $allow_methods);

// Main script request processing starts there
if ($_SERVER['REQUEST_METHOD'] === 'OPTIONS') {
    header(&quot;HTTP/1.1 204 NO CONTENT&quot;);
    header('Allow: ' . $allow_methods);
} else if ($_SERVER['REQUEST_METHOD'] === 'POST') {
    $body = file_get_contents('php://input');
    $request_data = json_decode($body, true);
    $match_result = match_regex($request_data['regex'], $request_data['text']);
    echo json_encode($match_result);
} else if ($_SERVER['REQUEST_METHOD'] === 'GET') {
    $data = [&quot;status&quot; =&gt; &quot;API Service is working!&quot;, &quot;timestamp&quot; =&gt; date('c')];
    echo json_encode($data);
} else {
    header(&quot;HTTP/1.1 405 Method Not Allowed&quot;);
    header('Allow: ' . $allow_methods);
}
</code></pre>
<p>File: <code>index.html</code></p>
<pre><code>&lt;!doctype html&gt;
&lt;!--
    Author: Zemian Deng &lt;zemiandeng@gmail.com&gt;
    Date: April 21, 2022
--&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
    &lt;title&gt;A Simple REST API Client&lt;/title&gt;
    &lt;link href=&quot;https://unpkg.com/bulma@0.9.3/css/bulma.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;script src=&quot;https://unpkg.com/vue@3.2.33/dist/vue.global.prod.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;div id=&quot;app&quot; class=&quot;section&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;h1 class=&quot;title&quot;&gt;A Simple REST API Client&lt;/h1&gt;

        &lt;div class=&quot;field&quot;&gt;
            &lt;div class=&quot;control&quot;&gt;
                &lt;label class=&quot;label&quot;&gt;Regular Expression&lt;/label&gt;
                &lt;input class=&quot;input&quot; v-model=&quot;regex&quot;&gt;&lt;/textarea&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;field&quot;&gt;
            &lt;div class=&quot;control&quot;&gt;
                &lt;label class=&quot;label&quot;&gt;Input Text&lt;/label&gt;
                &lt;textarea class=&quot;textarea&quot; v-model=&quot;inputText&quot;&gt;&lt;/textarea&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;field&quot;&gt;
            &lt;div class=&quot;control&quot;&gt;
                &lt;input class=&quot;button&quot; type=&quot;submit&quot; @click=&quot;onSubmit&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div&gt;
            &lt;pre v-if=&quot;response&quot;&gt;{{JSON.stringify(response, null, 2)}}&lt;/pre&gt;
            &lt;div v-if=&quot;response &amp;&amp; response.newtext&quot;&gt;
                &lt;h1 class=&quot;is-size-5 has-text-weight-bold&quot;&gt;Rendered Text&lt;/h1&gt;
                &lt;div v-html=&quot;response.newtext&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
    Vue.createApp({
        data() {
            return {
                regex: '/(foo)(bar)(baz)/',
                inputText: 'foobarbaz',
                response: null,
                baseUrl: 'api/',
            };
        },
        methods: {
            onSubmit() {
                const data = JSON.stringify({regex: this.regex, text: this.inputText});
                console.log(&quot;Sending request to &quot; + this.baseUrl);
                fetch(this.baseUrl, {method: 'POST', body: data})
                    .then(resp =&gt; resp.json()).then(data =&gt; {
                    console.log(&quot;Received data&quot;, data);
                    this.response = data;
                });
            }
        }
    }).mount('#app');
&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
</code></pre>

</div>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="columns">
                <div class="column">
                    <div class="level">
                        <div class="level-item">
                            <a href="https://bulma.io">
                                <img
                                    src="/images/made-with-bulma.png"
                                    alt="Made with Bulma"
                                    width="128"
                                    height="24">
                            </a>
                            <span class="m-1">
                            <a href="https://www.11ty.dev/">
                                <img
                                    src="/images/11ty-logo-bg.svg"
                                    alt="Made with 11ty"
                                    width="24"
                                    height="24">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script to enable responsive navbar hamburger menu -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const btn = document.querySelector('#navbarMenuButton');
            btn.addEventListener('click', () => {
                btn.classList.toggle('is-active');
                const menu = document.querySelector('#navbarMenu');
                menu.classList.toggle('is-active');
            });
        });
    </script>

    </body>
</html>
