---
layout: "layouts/default"
---

<h1 class="title">Blog Archive</h1>
<p class="subtitle">List of all blog posts</p>
<div class="content">
    {% set posts = collections.blog | reverse %}

    <ol>
    {% for post in posts %}
      <li>
        <div>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a> - {{ post.data.date | date('YYYY-MM-DD')}}
            {% for tag in post.data.tags %}
            {% if tag != 'blog' %}
              <a class="tag is-size-8 mr-1" href="{{ site.base_url }}/tags/{{ tag }}">{{ tag }}</a>
            {% endif %}
            {% endfor %}
        </div>
      </li>
    {% endfor %}
    </ol>
</div>